.brands {
  --container-align-items: center;
  --container-limit: calc(#{rem(991)} + (var(--container-gutter) * 2));

  text-align: center;

  &__group {
    display: grid;
    justify-items: center;
    width: 100%;

    min-height: rem(496);

    margin: rem(76) 0 0;
  }

  &__area {
    width: 16vw;
    min-width: rem(280);

    border-radius: var(--brands-area-radius);
    overflow: hidden;

    &, & > * {
      display: grid;
      grid-auto-rows: var(--brands-area-rows);
    }

    & > * {
      align-items: center;

      padding: rem(30) rem(12);
      font-size: rem(20);
    }

    &.--left {
      --brands-area-rows: 2fr 1fr max-content;
    }

    &.--right {
      --brands-area-rows: 1fr 2fr max-content;
    }

    &.--left, &.--right {
      .brands__area-last {
        display: var(--brand-area-lr-last-display, grid);
      }
    }

    &:not(&.--left, &.--right) {
      padding: rem(40) 0;

      .brands__area-last {
        display: var(--brand-area-last-display, none);

        ~ strong {
          display: var(--brand-area-lr-last-display, grid);
        }
      }
    }

    &-high {
      color: $dark;
      background: $primary;
    }

    &-low {
      background: $secondary;
    }
  }

  @include max-wide(laptop) {
    --caption-max: #{rem(320)};

    --brand-area-lr-last-display: none;
    --brand-area-last-display: grid;
    --brands-area-radius: #{$radius};
  }

  @include min-wide(laptop) {
    &__group {
      grid-template-columns: max-content 1fr max-content;
    }
  }
}
