.creatives {
  @extend %section-default;

  --container-limit: auto;
  --container-align-items: center;

  --caption-max: #{rem(795)};

  --p-max-width: #{rem(1000)};
  //--p-font-size: #{rem(30)};
  //--p-margin: #{rem(30) 0};

  display: flex;
  justify-content: center;

  &__wrap {
    @extend %card;
  }

  &__icon {
    margin-top: rem(30);

    font-size: rem(125);
    line-height: 1;
  }

  strong {
    color: $primary;
  }

  @include max-wide(tablet) {
    --container-gutter: 0;

    --p-margin: #{0 0 $gutter};

    .button {
      margin: auto rem(-24);
    }
  }

  @include min-wide(tablet) {
    --p-font-size: #{rem(30)};
    --p-margin: #{rem(30) 0};
  }

}
