.footer {
  //@extend %fix-fill-on-scroll-down;

  --container-flex-flow: row wrap;
  --container-justify-content: space-between;

  --link-hover-color: #{$tertiary};
  position: fixed;
  inset: auto 0 0 ;

  display: flex;
  justify-content: space-between;
  align-items: center;

  //padding: $gutter 0;
  height: rem(58);

  color: $secondary-dark;
  font-size: rem(14);

  border-top: rem(1) solid currentColor;
  background: $primary;

  @include max-wide(phones) {
    font-size: rem(12);
  }
}
