.get {
  @extend %section-default;

  --container-flex-flow: row wrap;
  --container-justify-content: space-between;
  --container-align-items: center;
  --container-gap: #{rem(20)};

  --caption-color: #{$secondary};
  --caption-max: #{rem(870)};

  --p-font-size: #{rem(31)};
  --p-font-weight: 600;

  position: fixed;
  inset: auto 0 rem(58);

  color: $dark;
  background: $primary;

  @include max-wide(phonesLg) {
    --container-justify-content: center;
    --container-align-items: center;

    --h1-size: #{rem(27)};

    --p-margin: #{0 0 rem(38)};
    --p-font-size: none;

    text-align: center;
  }
}
