.some-work {
  @extend %section-default;

  --container-limit: auto;
  --container-align-items: center;

  --p-margin: #{rem(20) 0 0};
  --p-font-weight: 600;
  --p-font-size: #{rem(23)};

  display: flex;
  justify-content: center;

  &__wrap {
    @extend %card;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    gap: rem(52);

    width: 100%;

    margin: $gutterX3 auto rem(60);
  }

  &__item {
    position: relative;

    aspect-ratio: 2 / 3;

    border: rem(3) solid $primary;
    border-radius: $radiusLarge;
    background: transparent;
    overflow: hidden;

    transition: $transition-default;
    cursor: pointer;

    img {
      height: 100%;

      object-fit: cover;
      object-position: center;
    }

    @include only-mouse {
      &:after {
        position: absolute;
        inset: auto 0 0 0;
        z-index: 1;

        display: inline-flex;
        align-items: end;
        min-height: 80%;

        padding: $gutterX2;

        content: attr(data-case-name);

        font-family: $font-family-secondary;
        font-size: rem(28);
        color: $secondary-dark;

        opacity: var(--some-work-item-after-opacity, 0);
        transform: translateY(var(--some-work-item-after-translate, 100%));
        transition: $transition-default;
        transition-property: opacity, transform;

        background: linear-gradient(0deg, rgba(#E1F500, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }

      &:hover {
        --some-work-item-after-opacity: 1;
        --some-work-item-after-translate: 0;
        border-color: transparent;
      }
    }
  }

  @include max-wide(phonesLg) {
    --container-gutter: 0;
  }

  @include min-wide(desktop) {
    &__list {
      gap: rem(24) rem(55);

      max-width: rem(991);
    }
  }
}
