.team {
  @extend %section-default;

  --container-flex-flow: row wrap;
  --container-align-items: strech;
  //--container-align-items: center;
  --container-justify-content: center;
  --container-gap: #{rem(100)};
  --container-limit: calc(#{rem(780)} + var(--container-gutter));

  --caption-max: #{100%};
  --caption-inset-color: #{$primary};

  text-align: center;

  &__item {
    display: flex;
    flex-flow: column;
    flex: 1 0;
  }

  &__pics {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: rem(98);
    grid-auto-rows: rem(98);
    grid-gap: $gutterX2;
    align-items: center;
    justify-content: var(--team-pics-justify, unset);
  }

  &__ava {
    &.--map {
      min-width: rem(150);
      margin-left: var(--team-map-margin-left, 0);
    }
  }

  &__card {
    display: inline-grid;
    grid-auto-rows: max-content auto;
    gap: rem(8);

    min-width: rem(260);
    height: 100%;

    margin: rem(16) 0 0;
    padding: rem(28);

    //font-weight: 400;
    //font-size: rem(20);
    text-align: left;

    border: rem(3) solid $primary;
    border-radius: $radiusLarge;
    background: $tertiary;
  }

  &__name {
    font-family: $font-family-secondary;
    font-size: rem(27);
  }

  @include max-wide(tablet) {
    --container-gap: #{rem(53)};
    --team-pics-justify: center;
    --team-map-margin-left: #{rem(-23)}
  }
}
