.top-hint {
  //--amination-opacity-start: #{0};
  --amination-transform-start: #{translate(0, -40%)};

  position: fixed;
  inset: 0 0 auto;
  z-index: z-index(header);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: rem(17);
  min-height: rem(57);

  font-weight: 600;
  font-size: rem(15);
  line-height: 120%;
  color: $light;

  background: $secondary;

  animation: $animation;
}
