.tusted {
  @extend %section-default;

  --container-align-items: center;
  --container-gap: #{rem(40)};

  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: rem(27);
  text-align: center;
  color: $secondary-dark;

  border-radius: $radiusLargeHard;
  background: $primary;

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
  }
}
