.welcome {
  $welcome-video-offset: -24vh;

  @extend %section-default;

  --amination-transform-start: #{translate(0, -10%)};

  --container-align-items: center;
  --container-justify-content: center;
  --container-gap: #{$gutterX2};

  --logo-size: #{rem(195)};
  --caption-inset-color: #{$primary};

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  min-height: calc(90vh - #{var(--header-height)});

  text-align: center;

  background: var(--main-bg);

  animation: $animation;

  &__logo {
    position: absolute;
    inset: rem(31) 50% auto auto;

    transform: translate(50%, 0);
  }

  &__sub-text {
    @extend %text-large-title;
  }

  &__beck {
    display: inherit;
    justify-content: space-between;
    align-items: center;

    padding: rem(12) 0 rem(60);
  }

  &__video {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: rem(283);
    height: rem(405);

    border: rem(3) solid $primary;
    border-radius: $radiusLarge;

    background: transparent;

    box-shadow: $sh-card-primary;

    overflow: hidden;

    &:last-child {
      --amination-transform-start: #{translate(20vw, 0) scale(0) rotate(-40deg)};

      display: var(--welcome-video-display-last, none);

      margin: 0 0 $welcome-video-offset;

      border-color: $secondary;

      transform: scale(0.85);
    }

    video {
      position: absolute;
      inset: 0 auto 0;

      height: 100%;
    }
  }

  @include max-wide(phonesLg) {
    --container-gap: #{rem(8)};

    padding-top: 14vh;
  }

  @include min-wide(phonesLg) {
    border-radius: 0 0 $radiusLargeHard $radiusLargeHard;
    box-shadow: 0 rem(10) rem(30) rem(-15) $secondary-dark;

    &__beck {
      --welcome-video-display-last: inline-flex;

      position: absolute;
      inset: 0;
      z-index: -1;

      padding: 4.5vw;
    }

    &__video {
      //--amination-opacity-start: #{0};
      --amination-transform-start: #{translate(-20vw, 0) scale(0) rotate(40deg)};

      width: 18.6vw; //rem(283)
      height: 27vw; //rem(405)

      margin: $welcome-video-offset 0 0;

      animation: $animation;
    }
  }

  @media (max-height: 580px) {
    min-height: rem(580);
  }
}
