.welcome {
  $welcome-video-offset: -24vh;

  --amination-transform-start: #{translate(0, -10%)};

  @extend %section-default;

  --container-align-items: center;
  --container-justify-content: center;
  --container-gap: #{$gutterX2};

  --logo-size: #{rem(195)};

  --caption-inset-color: #{$primary};

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  min-height: calc(90vh - #{var(--header-height)});

  text-align: center;

  border-radius: 0 0 $radiusLargeHard $radiusLargeHard;
  background: $secondary-dark;
  box-shadow: 0 rem(10) rem(30) rem(-15) $secondary-dark;

  animation: $animation;

  &__logo {
    position: absolute;
    inset: rem(31) 50% auto auto;

    transform: translate(50%, 0);
  }

  &__sub-text {
    @extend %text-large-title;
  }

  &__beck {
    position: absolute;
    inset: 0;
    z-index: -1;

    display: inherit;
    justify-content: space-between;
    align-items: center;

    padding: 4.5vw;
  }

  &__video {
    //--amination-opacity-start: #{0};
    --amination-transform-start: #{translate(-20vw, 0) scale(0)};

    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18.6vw; //rem(283)
    height: 27vw; //rem(405)
    //height: max-content;
    //aspect-ratio: 3 / 5;

    margin: $welcome-video-offset 0 0;

    border: rem(3) solid $primary;
    border-radius: $radiusLarge;

    background: transparent;

    animation: $animation;

    overflow: hidden;

    &:last-child {
      --amination-transform-start: #{translate(20vw, 0) scale(0)};

      margin: 0 0 $welcome-video-offset;

      border-color: $secondary;

      transform: scale(0.85);
    }

    video {
      position: absolute;
      inset: 0 auto 0;

      height: 100%;
    }
  }
}
