-
  var path = '../../'
  var language = 'en'

doctype html

block core
  include ../includes/vars
  include  ../includes/ui/ui

  if language === 'en'
    include localization/eng

html(lang=lang loading="true" translate="no")
  head
    include ../includes/head

  body
    block header
      include ../includes/components/top-hint
      //include ../includes/components/header

    main.layout
      block content

    block footer
      include ../includes/components/footer

    block scripts
      include ../includes/scripts
