-
  var
          sourcePathJS = path + "js/main.js",
          sourcePathSCSS = path + 'scss/style.scss',

          assetsImgPath = path + "assets/images/",
          assetsVideoPath = path + "assets/videos/",
          faviconDir = assetsImgPath + 'favicon/',
          headerClass,

          canonicalLink = hostLink,
          googleFontsPrimary = "",

          hostLink = "limecreative.com",
          emailLink = "info@limecreative.com",
          posterImage = hostLink + '/poster.jpeg',
          posterImageWidth = '1200',
          posterImageHeight = '630',

          routes = {
            home: '/',
            not: '/404.html'
          },

          socialLink = {
            fb: '',
            tw: '',
            inst: '',
            ln: '',
            wtapp: ''
          },

          // Google Analytics
          googleAnalytics = true,
          googleAnalyticsID = '';
