section.brands
  .container
    h2 There are 2 types of e-com brands

    article(class="brands__area --left")
      div Using high-converting ad creatives
      div Low cost per purchase
      div 100 purchases

    article.brands__area
      div For the same amount of purchases

    article(class="brands__area --right")
      div Average creatives
      div Very high cost per purchase
      div 100 purchases
