section.creatives
  .container
    h2 You can’t afford to have average  ad creatives

    mark 🙅

    p E-com is booming!  You have competition raising the CPM, IOS 14 crushed detailed targetting, so the only option you have left is getting creatives that convert.

    +button(null, 'Let’s level up your e-com brand', null, null)
    span Only $100 per video
