section.creatives
  .container
    .creatives__wrap
      h2.caption=CREATIVES_TITLE

      mark.creatives__icon 🙅

      p!=CREATIVES_TEXT

      +button(null, CREATIVES_BUTTON, null, null)
      span=CREATIVES_TEXT_DOWN
