-
  var
          CREATIVES_TITLE = "You can’t afford to have average ad creatives",
          CREATIVES_TEXT = "E-com is booming!<br>You have competition raising the CPM,<br>IOS 14 crushed detailed targetting,<br> so the only option you have left is getting creatives <strong>that convert</strong>.",
          CREATIVES_BUTTON = "Let’s level up your e-com brand",
          CREATIVES_TEXT_DOWN = "Only $100 per video"

section.creatives
  .container
    .creatives__wrap
      h2.caption=CREATIVES_TITLE

      mark.creatives__icon 🙅

      p!=CREATIVES_TEXT

      +button(null, CREATIVES_BUTTON, null, null)
      span=CREATIVES_TEXT_DOWN
