section.get
  .container
    h2(class="caption --large") Get your own creative team for a fraction of the price
    p starting from $100 per UGC Video
    +button(null, 'Let’s level up your e-com brand', null, null)

