-
  var
          TEAM_LIST = [
            {
              name: "Creative Directors",
              description: "Researching the trends, your competitors, your target group, their problems, their dreams and deepest desires. Coming up with ad concepts. Transforming scrolling users into customers that will purchase your product.",
              pictures: [
                {
                  src: 'team-3.webp',
                  into: 'team-3.webp'
                },
                {
                  src: 'team.webp',
                  into: 'team.webp'
                },
              ]
            },
            {
              name: "Video Editors",
              description: "Making sure all your videos can be watched on mute.  Making your videos easy to coprehend by using smart captions. Adding trending transitions, music, outros and exporting in all relevant formats.",
              pictures: [
                {
                  src: 'team-4.webp',
                  into: 'team-4.webp'
                },
                {
                  src: 'team-1.webp',
                  into: 'team-1.webp'
                }
              ]
            },
            {
              name: "Project managers",
              description: "Making sure that everything that comes in is of the highest quality and of course... on time!",
              pictures: [
                {
                  src: 'team-5.webp',
                  into: 'team-5.webp'
                },
                {
                  src: 'team-2.webp',
                  into: 'team-2.webp'
                }
              ]
            },
            {
              name: "Content Creators (actors)",
              description: "We have vetted content creatos in the USA, UK, Australia, Canada and Europe. Each of the creators we work with has gone through specialized training, so that you recieve the highest-quality UGC’s.",
              pictures: [
                {
                  src: 'map.svg',
                  into: 'map.webp'
                }]
            },
          ]

section.team
  .container
    h2 Your own creative team  for a fraction of the price

    each item in TEAM_LIST
      article.team__item
        figure.team__item-pics
          each pic in item.pictures
            picture.team__item-ava
              img(src=assetsImgPath + pic.src, alt=pic.into)
        h2=item.name
        p=item.description


