section.welcome
  .container
    p Want to grow your e-com brand?

    h1(class="caption --large") Get UGC Ad Creatives
      br
      span That Convert

    p Done-for-you on autopilot

    +button(null,'Done-for-you on autopilot', null, null)

    p Only $100 per video
