
%section-default {
  padding: calc(#{$gutterX3} + #{$gutterX2}) 0;
}

%section-limit {
  --container-limit: calc(#{rem(992)} + (#{$gutterX2} * 2));
}

%section-animation-up {
  --amination-transform-start: translate(0, 10%);

  animation: $animation;
}

%fix-fill-on-scroll-down {
  &:after {
    position: fixed;
    inset: auto 0 0 0;
    z-index: -1;

    width: 100vw;
    height: 30vh;
    min-height: rem(200, $base-font-size);

    content: '';

    background: linear-gradient(to top, $primary 40%, transparent);
  }
}

%card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  gap: rem(20);

  padding: rem(70) 12.5vw rem(50);

  text-align: center;

  border: rem(8) solid #8235ff36;
  border-radius: $radiusLargeHard;
  box-shadow: $sh-card-primary;

  background: #13003899; // $quaternary;
}

%caption-large {
  font-size: var(--h1-size, rem(70));
  line-height: var(--h1-height, 112%);
  //font-weight: var(--h1-weight, 400);
}

%h1 {
  font-size: var(--h1-size, rem(50));
  line-height: var(--h1-height, rem(60));
  //font-weight: var(--h1-weight, 400);
}

%h2 {
  font-size: var(--h2-size, rem(35));
  line-height: var(--h1-height, rem(42));
  //font-weight: var(--h2-weight, 400);
}

//%h3 {
//  font-size: var(--h3-size, rem(32));
//  line-height: var(--h3-height, rem(84));
//}

//%h4 {
//  font-size: var(--h4-size, rem(28));
//  font-weight: bold;
//}
//
//%h5 {
//  font-size: var(--h5-size, rem(24));
//  font-weight: bold;
//}
//
//%h6 {
//  font-size: var(--h6-size, rem(20));
//  font-weight: bold;
//}

%text-large-title {
  font-size: rem(30);
  line-height: rem(45);
  font-weight: 400;
}

//%text-large {
//  font-size: rem(20);
//  font-weight: 500;
//}
//
//%text-normal {
//  font-size: rem(16);
//}
//
//%text-small {
//  font-size: rem(14);
//}
//
//%text-hard-small {
//  font-size: rem(12);
//}
