:root {
  //* root sizes
  --container-limit: #{$containerLimit};
  --container-gutter: #{$gutterX2};

  --header-height: #{rem(60)};

  @include generate-themes($themes-map);

  @include use-theme-name(dark) {
  }

  @include max-wide(phonesLg) {
    --container-gutter: #{rem(20)};
  }

  @include max-wide(phonesSm) {
    --container-gutter: #{$gutter};
  }
}
