//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);

$contentScale: (
  //(
  //  direction: 'max-width',
  //  wide: 1460px,
  //  scale: 94%
  //)
);

//* Main content && elements sizes
$guides: false;
$guidesBody: false;
$guidesContainer: false;
$guidesSideLine: true;
$guidesContainerSpacer: true;
$guidesContainerSpacerColor: rgba(lightgreen, 0.5);
$guidesContainerOpacity: .6;
$guidesCenter: true;
$guides-color: #ff3e23;
$guides-column: 12;

$gutterSmall: var(--gutter-small, rem(8)) !default;
$gutter: var(--gutter, rem(16)) !default;
$gutterX2: var(--gutterX2, rem(24)) !default;
$gutterX3: var(--gutterX3, rem(48)) !default;
$gutterX4: var(--gutterX4, rem(96)) !default;
$sectionSpacer: var(--section-spacer, rem(70)) !default;

$containerLimit: calc(#{rem(1310)} + #{$gutterX2});
$containerOffset: calc(var(--container-gutter) * -1);

//$radiusSmall: rem(10);
$radius: rem(20);
$radiusLarge: rem(28);
$radiusLargeHard: rem(48);

$themes-map: (
  default:(
    primary: #E1F500,
    secondary: #8235FF,
    secondary-dark: #250C59,
    tertiary: #6C63FF,
    quaternary: #717171,
    light: #ffffff,
    dark: #000000,
  ),
  dark: (
  ),
);

$primary: var(--cl-primary);

$secondary: var(--cl-secondary);
$secondary-dark: var(--cl-secondary-dark);

$tertiary: var(--cl-tertiary);
$quaternary: var(--cl-quaternary);

$light: var(--cl-light);
$dark: var(--cl-dark);

$gradient-light: linear-gradient(to bottom, $light 3%, rgba(255, 255, 255, 0));
$gradient-primary: linear-gradient(var(--gr-primary, 112deg, $light -20%, var(--cl-primary-dark) 108%));

$error: var(--cl-error);
//$warning: var(--cl-warning);
//$success: var(--cl-success);

$base-color: $light;
//$border-color: var(--cl-border);

//* transitions && animations
$transition-default: 0.44s linear !default;
$transition-function: cubic-bezier(var(--cubic-bezier, 0.645, 0.045, 0.355, 1)) !default;

$animation-delay: var(--animation-delay, 0s) !default;
$animation-duration: var(--animation-duration, 3s) !default;
//$global-animation-state: var(--gm-play-animation, paused);
$animation: $animation-duration $transition-function $animation-delay 1 forwards amination !default;

$card-scale: scale(var(--card-scale, 1.07)) !default;
$card-transition: transform 0.9s $transition-function !default;

$base-font-color: $secondary !default;
$base-font-size: 16px !default;
$base-font-height: 1.4 !default;

$font-family-primary: 'Poppins' !default;
$font-family-secondary: 'Coolvetica' !default;
$font-family-system: $font-family-primary, $font-family-secondary, -apple-system, BlinkMacSystemFont, Arial, Roboto sans-serif !default;

// * shadows
//$sh-card-primary: var(--sh-card-primary, 0 rem(10) rem(24) rem(-1) var(--cl-secondary-dark-10));
$sh-card-primary: var(--sh-card-primary, #{0 rem(10) rem(180) rem(-100) $dark});


//* Icons
$font-path: '../assets/fonts' !default;

$icon-font-family: "lime-icons" !default;
$icon-font-prefix: 'lmi-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$icons-font-map: (
);

//* Scrolls
$scroll-size: var(--scroll-size, rem(5));
$scroll-border-radius: 0;
$scroll-thumb-color: $primary;
$scroll-thumb-hover-color: $secondary;
$scroll-track-color: $light;
$scroll-track-line: inset 0 0 0 0px $scroll-track-color;

//* cursor
$cursor-size: rem(30);
$cursor-color: $secondary;
$cursor-color-active: $secondary-dark;

//* Loader
$loader-size: rem(48);

//* z-index
$z-index-step: 10 !default;
$z-index: (
  start: 10,
  middle: 50,
  header: 100,
  modal: 1000
) !default;
