extends ../includes/root.pug

block content
  include  ../includes/components/welcome
  include  ../includes/components/tusted
  include  ../includes/components/some-work
  include ../includes/components/brands
  include ../includes/components/team
  include ../includes/components/get
