.button {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: var(--button-height, rem(36));

  padding: var(--button-gutter-y, rem(10)) var(--button-gutter-x, rem(24));

  font-weight: bold;
  font-size: var(--button-size, rem(16));
  color: var(--button-color, $secondary-dark);

  touch-action: none;
  outline: unset;

  border-radius: var(--button-radius, rem(36));
  background: var(--button-fill, $primary);

  &:not(.--apple, .--play-market) {
    min-width: var(--button-width, auto);
  }

  &.--apple, &.--play-market {
    padding: rem(10) rem(14);

    font-weight: normal;
    color: var(--button-color, $light);
    line-height: 1;

    border-radius: var(--button-radius, $radius);
    background: var(--button-fill, $secondary-dark);

    &:before {
      @include pseudo-icon(var(--button-icon, unicode($ksi-apple-btn)), 24);
    }
  }

  &.--play-market {
    --button-icon: #{unicode($ksi-playmarket-btn)} !important;
  }

  &.--coming {
    --button-color: var(--button-coming-color, #{$secondary-light});

    background: transparent;
    box-shadow: 0 0 0 rem(1.2) currentColor;

    pointer-events: none;

    &:after {
      position: absolute;
      inset: rem(-8) rem(-10) auto auto;

      padding: rem(4) rem(10);

      display: inline-flex;
      align-items: center;
      justify-content: center;

      content: 'coming';
      color: var(--button-coming-stiker-color, currentColor);
      font-weight: 600;
      font-size: rem(10);
      text-transform: uppercase;
      line-height: 1;

      border-radius: rem(4);
      background: var(--button-coming-fill, $tertiary);
      box-shadow: 0 rem(3) rem(4) rem(-3) $light-dark;

      transform: translate(rem(10), rem(9)) rotate(35deg);
    }
  }

  &.--arrow {
    @extend %link-round-arrow;
  }

  &.--third {
    color: var(--button-color, $light);
    background: var(--button-fill, var(--cl-quaternary));
  }

  &.--second {
    color: var(--button-color, $primary);
    background: var(--button-fill, $secondary-dark);
  }

  &.--fourth {
    background: var(--button-fill, $tertiary);
  }

  &.--whatsapp, &.--mail {
    padding: var(--button-gutter-y, rem(6)) var(--button-gutter-x, rem(24));

    font-size: rem(13.5);
    font-weight: 600;
    white-space: nowrap;

    &:after {
      margin: auto rem(-4) auto rem(12);

      @include pseudo-icon(var(--button-icon, unicode($ksi-wapp)), 20);
    }
  }

  &.--mail {
    color: var(--button-color, $primary);

    --button-icon: #{unicode($ksi-email)} !important;
  }

  @include only-mouse {
    transition: .5s linear;
    transition-property: background-color, border-color, color, opacity, transform;
    cursor: pointer;

    &.--arrow {
      &:before {
        position: absolute;
        inset: rem(-6);

        content: '';

        border-radius: inherit;
        border: 1px solid var(--button-fill-hover, $secondary);

        background: transparent;
        opacity: var(--button-before-opacity, 0);

        transition: inherit;
      }
    }

    &:hover {
      --button-fill: var(--button-fill-hover, #{$secondary-dark});
      --button-color: var(--button-color-hover, #{$light});
      --link-hover-color: var(--button-color);

      --link-round-arrow-transform: rotate(-180deg) scale(0.8);
      --button-before-opacity: 1;

      &.--apple, &.--play-market {
        --button-fill: var(--button-fill-store-hover, #{$primary});
        --button-color: var(--button-color-hover, #{$secondary-dark});

        //box-shadow: $sh-card-secondary;
      }

      &.--second {
        --button-fill: var(--button-fill-hover, #{$primary});
        --button-color: var(--button-color-hover, #{$secondary-dark});
      }

      &.--fourth {
        --button-fill: var(--button-fill-hover, #{$secondary-dark});
        --button-color: var(--button-color-hover, #{$light});
      }

      &.--whatsapp {
        //--button-fill: var(--button-fill-hover, #{$primary});
        --button-color: var(--button-color-hover, #{$light})
      }
    }

    &:active {
      transform: scale(0.85);
    }
  }
}
