// SEO meta descriptions variables
-
  var
          META_TITLE = 'Get UGC Ad Creatives That Convert',
          META_DESCRIPTION = 'Done-for-you on autopilot',
          META_KEYWORDS = '',

          META_CREATOR = 'Creative Lime',
          META_SITE_NAME = hostLink,
          META_LOCALE = 'en'
