// SEO meta descriptions variables
-
  var
          META_TITLE = 'Get UGC Ad Creatives That Convert',
          META_DESCRIPTION = 'Done-for-you on autopilot',
          META_KEYWORDS = 'Creatives, Creative Lime',

          META_CREATOR = 'Creative Lime',
          META_SITE_NAME = hostLink,
          META_LOCALE = 'en-US',

          TOP_HINT_TEXT = " Only 2 spots left for November!",

          BRANDS_TITLE = "There are 2 types of e-com brands",
          BRANDS_AREA_LEFT_HIGH = "Using high-converting<br>ad creatives",
          BRANDS_AREA_LEFT_LOW = "Low cost per<br>purchase",
          BRANDS_AREA_PURCHASES = "100 purchases",
          BRANDS_AREA_RIGHT_HIGH = "Average creatives",
          BRANDS_AREA_RIGHT_LOW = "Very high cost per<br>purchase",
          BRANDS_AREA_CENTER = "For the same amount of purchases",
          BRANDS_AREA_MOBILE = "VS",

          CREATIVES_TITLE = "You can’t afford to have average ad creatives",
          CREATIVES_TEXT = "E-com is booming!<br>You have competition raising the CPM,<br>IOS 14 crushed detailed targetting,<br> so the only option you have left is getting creatives <strong>that convert</strong>.",
          CREATIVES_BUTTON = "Let’s level up your e-com brand",
          CREATIVES_TEXT_DOWN = "Only $100 per video",

          GET_TITLE = "Get your own creative team for a fraction of the price",
          GET_TEXT = "starting from $100 per UGC Video",
          GET_BUTTON = "Let’s level up your e-com brand",

          SOME_WORK_TITLE = "Some of our work",
          SOME_WORK__ITEMS = [
            {
              name: 'Cass',
              video: null,
              poster: 'case-cass.webp',
              link: "/case/cass"
            },
            {
              name: 'Express',
              video: null,
              poster: 'case-express.webp',
              link: "/case/express"
            },
            {
              name: 'Slh',
              video: null,
              poster: 'case-slh.webp',
              link: "/case/slh"
            },
            {
              name: 'Slh',
              video: null,
              poster: 'case-slh.webp',
              link: "/case/slh"
            },
            {
              name: 'Cass',
              video: null,
              poster: 'case-cass.webp',
              link: "/case/cass"
            },
            {
              name: 'Express',
              video: null,
              poster: 'case-express.webp',
              link: "/case/express"
            }
          ],
          SOME_WORK_BUTTON = "Let’s level up your e-com brand",
          SOME_WORK_TEXT = "Only $100 per video",

          TEAM_TITLE = "Your own creative team <span>for a fraction of the price</span>",
          TEAM_LIST = [
            {
              name: "Creative Directors",
              description: "Researching the trends, your competitors, your target group, their problems, their dreams and deepest desires. Coming up with ad concepts. Transforming scrolling users into customers that will purchase your product.",
              pictures: [
                {
                  src: 'team-3.webp',
                  into: 'Creative Directors',
                  customClass: null
                },
                {
                  src: 'team.webp',
                  into: 'Creative Directors',
                  customClass: null
                },
              ]
            },
            {
              name: "Video Editors",
              description: "Making sure all your videos can be watched on mute.  Making your videos easy to coprehend by using smart captions. Adding trending transitions, music, outros and exporting in all relevant formats.",
              pictures: [
                {
                  src: 'team-4.webp',
                  into: 'Video Editors',
                  customClass: null
                },
                {
                  src: 'team-1.webp',
                  into: 'Video Editors',
                  customClass: null
                }
              ]
            },
            {
              name: "Project managers",
              description: "Making sure that everything that comes in is of the highest quality and of course... on time!",
              pictures: [
                {
                  src: 'team-5.webp',
                  into: 'Project managers',
                  customClass: null
                },
                {
                  src: 'team-2.webp',
                  into: 'Project managers',
                  customClass: null
                }
              ]
            },
            {
              name: "Content Creators (actors)",
              description: "We have vetted content creatos in the USA, UK, Australia, Canada and Europe. Each of the creators we work with has gone through specialized training, so that you recieve the highest-quality UGC’s.",
              pictures: [
                {
                  src: 'map.svg',
                  into: 'Content Creators',
                  customClass: "--map"
                }
              ]
            },
          ],

          TUSTED_CAPTION = "Tusted by huge performers",
          TUSTED_TEXT = "and more than 100 other successfull e-com brands",
          TUSTED_LOGOS = [
            {
              logo: 'trusted-1.png',
              alt: 'mango'
            },
            {
              logo: 'trusted-2.png',
              alt: 'the ordinary'
            },
          ],
          WELCOME_SUB_TEXT_1 = "Want to grow your e-com brand?",
          WELCOME_TITLE = "Get UGC Ad Creatives <br> <span>That Convert<span>",
          WELCOME_SUB_TEXT_2 = "Done-for-you on autopilot",
          WELCOME_BUTTON = "Done-for-you on autopilot",
          WELCOME_TEXT = "Only $100 per video"
